
html {
  font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neu', Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    color: #434f53;
    background-color: #fff;
    
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.125rem;
}

h3:hover {
    cursor: pointer;
}

@media only screen and (max-width: 680px ) {
    h2 {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 480px) {
    html,body {
        width: 100%;
        height: 100%;
        margin:0;
        padding: 0;
        overflow-x: hidden;
    }
}

/* nav section */

 nav {
    position: sticky;
    font-family: 'Playfair Display', serif;
    background-color: #004375;
    width: 100%;  
    height: 80px; 
    z-index: 999;
 }

label.logo {    
    color: #1d75b6;    
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 80px;        
    padding: 0 5px 0 40px;    
 }

 
 nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 0;    
 }

 nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
 } 

 nav ul li a {
    color: #FFFFFF; 
    text-decoration: none;
    font-size: 1.125rem;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
 }

 a.active, a:hover {
    background: #1d75b6;
    transition: .5s;
 }

 .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
   display: none;
}


@media only screen and (max-width: 1090px) {
    nav ul li a {
        padding: 7px 5px;
    }
}

@media only screen and (max-width: 990px) {
    label.logo {
       font-size: 30px;
    }  
        
    nav ul li a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 864px) {
    .checkbtn {
        display: block;
        line-height: 70px;
    }

    label.logo {
        line-height: 70px;
    }

    ul {
        position: absolute;
        width: 35%;
        height: 70vh;
        background: #2c3e50;
        top: 70px;
        left: 200%;
        text-align: center;
        transition: all .5s;                       
    }

    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 15px;         
    }

    nav ul li a {
        font-size: 17px;
        text-transform: lowercase;        
    }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 65%;
    }

    nav {
        position: fixed;
        height: 70px;        
    } 
    
}

@media only screen and (max-width: 480px) {
    label.logo {        
        line-height: 70px;        
        padding-left: 10px;
        font-size: 1.875rem;   
     }
    nav {
        height: 70px;        
    } 
}

    /*banner section*/

.banner-container {
    text-align: center;
    background-image: url('./images/michael-olsen-Vif9JFyq-6w-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    width: 100%;
    height: 550px;
    color: #fff;
    margin-bottom: 60px;
    
}

.banner-content h1 {
    font-size: 5.625rem;
    margin: 5px;
    margin-bottom: 30px;
}

.banner-content {
    display: inline-block;
    justify-content: center;
    width: 80%;
    font-family: 'Playfair Display', serif;
    line-height: 1;
    margin-top: 50px;
}

.banner-content h2 {
    font-size: 2rem;   
    margin-bottom: 30px; 
}

.banner-content p {
    font-size: 20px;  
    padding: 0 35px;
    margin-bottom: 35px;
}

.banner-content h3 {
   display: inline-block;
   justify-content: center;
   font-size: 1.25rem;
   border: 2px solid white;   
   height: auto;
   padding: 15px 40px;
}

@media only screen and (max-width: 865px) {
    .banner-content h1 {        
        font-size: 3rem;
    }

    .banner-content h2 {
        margin-top: 70px;
    }

    .banner-content {
        width: 100%;
    }

    .banner-content p {        
        padding: 0 5px;
        line-height: 1.2;
    }

}

@media only screen and (max-width: 480px) {
    .banner-content h2 {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
    .banner-content p {
        margin-bottom: 15px;
    }
    
}

/* services section  */

.services-title {
    text-align: center;
    font-size: 1.625rem;   
}

.services-title h2 {      
    margin-bottom: 5px;
}

.services-container {
   display: flex; 
   flex-wrap: wrap;  
   position: relative;
   max-width: 98%;
   justify-content: space-around;  
   align-items: center;  
   margin: 0 auto;   
   margin-bottom: 100px;   
   
}

.services-box {
    display: flex;
    position: relative;
    margin: 10px;    
    max-width: 280px;
    height: 500px;
    text-align: center;
    box-shadow: -1px 0 10px #000000;
    background-color: #1d75b6;    
}

.services-container .services-box .service-imgbx {
    width: 280px;
    flex: 0 0 auto;   
}

.services-container .services-box .service-imgbx img {
    width: 100%;
    height: 400px;
}

.services-box h2 {
    font-size: 1.25rem;
    color: #FFFFFF;    
    padding-top: 30px;

}

/*about-us section*/

.aboutus-container {
    font-family: 'Playfair Display', serif;
    position: relative;
    max-width: 98%;    
    display: flex;    
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    margin: 0 auto; 
}

.aboutus-container .aboutus-box {    
    position: relative;
    max-width: 1200px;    
    margin: 15px;
    padding: 15px;    
    display: flex;
    box-shadow: -1px 0 10px #000000;
 }

.aboutus-container .aboutus-box .aboutus-img {
    max-width: 500px;
    flex: 0 0 auto;    
}

.aboutus-container .aboutus-box .aboutus-img img {
    max-width: 100%;     
}

.aboutus-container .aboutus-box .content {
    margin: 0 30px;
    font-size: 1.25rem;    
    margin-top: 30px;
}

.aboutus-container h2 {
   text-align: center;
   margin-bottom: 35px;
}

@media only screen and (max-width: 991px) {
    .aboutus-container {
        flex-direction: column;        
    }
}

@media only screen and (max-width: 768px) {
    .aboutus-container {
        flex-direction: column;            
    }
    
    .aboutus-container .aboutus-box {
        flex-direction: column;
        max-width: 500px;      
    }

    .aboutus-container .aboutus-box .aboutus-img {        
        max-width: 100%;        
    }

    .aboutus-container .aboutus-box .content {        
        margin: 10px 20px;        
    }
    
    .aboutus-container h2 {
        margin-bottom: 15px;
    }

}
 
/* instructors section */

.instructor-title  {
    text-align: center;
    font-size: 1.625rem;
}

.instructor-title h2 {
   padding-top: 35px;
   margin-bottom: 5px;   
}

.instructor-container {
    display: flex;       
    flex-wrap: wrap;
    position: relative;
    max-width: 98%;
    justify-content: space-around;  
    align-items: center;  
    margin: 0 auto;
    margin-bottom: 120px;     
}

.instructor-container .instructor-box {    
    display: flex;  
    position: relative;
    max-width: 330px;
    margin: 10px;   
    background-color: #1d75b6;
    box-shadow: -1px 0 10px #000000;
    height: 500px;
    line-height: 1.4;
}

.instructor-container .instructor-box .instructor-img {
    max-width: 300px;
    flex: 0 0 auto;
}

.instructor-container .instructor-box .instructor-img img{
    max-width: 100%;
    height: 400px;
}

.instructor-img {
    color: #FFFFFF;
    text-align: center;
}

.instructor-img h3 {
    font-size: 22px;
    margin-top: 20px;
}

.instructor-img p {
    position: relative;
    font-size: 18px;    
    
}

/*inviting-section*/

.inviting-container {  
    display: flex;  
    background-image: url('./images/israel-gil-ynOLGGIs8xE-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    text-align: center;
    justify-content: center;
    align-items: center; 
    margin-bottom: 60px;
}

.inviting-content {
    display: inline-block;      
    width: 80%;
    height: 500px;
    font-family: 'Playfair Display', serif;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;    
}   

.inviting-content h1 {
    font-size: 5.625rem;    
    margin-top: 50px;
}

.inviting-content p {
    font-size: 1.125rem;
    margin-top: 40px;
    line-height: 1.2;
}

.inviting-content h3 {
    display: inline-block;
    justify-content: center;
    font-size: 1.125rem;    
    border: 2px solid white;   
    height: auto;    
    padding: 15px 40px;
    margin-top: 60px;
    
}

@media only screen and (max-width: 768px) {
    .inviting-content h1 {
        font-size: 3rem;
        margin-top: 0px;
        margin-bottom: 0;
    }

    .inviting-content {
        width: 95%;
        line-height: 1.2;
    }
    
    .inviting-content p {
        margin-bottom: 0px;
        margin-top: 2px;
    }
}

/* gallery-section*/

.gallery-title {
    text-align: center;
    font-size: 1.625rem;       
}

.gallery-title h2 {    
    margin-bottom: 5px;
}

.gallery-container {  
    display: flex;  
    flex-wrap: wrap;  
    position: relative;  
    justify-content: space-around;
    align-items: center;
    max-width: 98%;    
    margin: 10px;
    margin-bottom: 70px;     
}

.gallery-container .gallery-imgbx {
    display: flex;    
    position: relative;          
    width: 385px;
    margin: 10px;
    box-shadow: -1px 0 10px #000000;     
    flex: 0 0 auto;
}

.gallery-imgbx img {
    min-width: 100%;
    height: 450px;
}

/*contact-section*/

.contact-container {  
    height: 150px;  
    font-family: 'Playfair Display', serif;  
    max-width: 100%;     
    margin: 0 auto;
    padding: 0;
}

.contact-content {    
    text-align: center;     
    margin: 0 auto;
}

.contact-phone {
    font-size: 1.5rem;
    font-weight: 700;
}

.contact-address {
    font-size: 1.0625rem;

}

.copyright {
    text-align: center;
    color: #ffffff;
    background-color: #004375 ;
    height: 80px;
    font-size: 0.9375rem;      
} 

.copyright p {  
   position: relative;
   display: inline-block;   
   margin-top: 30px;   
}

@media only screen and (max-width: 494px) {
    .copyright {
        display: none;
    } 

    .contact-container {
        background-color: #004375;
        color: #ffffff;
    }

    .contact-phone {
        font-size: 1rem;
        padding-top: 30px;
}

    .contact-address {
        font-size: 0.875rem;

    }

}

